# See https://help.github.com/articles/ignoring-files/ for more about ignoring files donotcopyysongh.

node_modules
.env
pnpm-lock.yaml

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json
